# Compare several models

## Setup

In [2]:
import platform; print(platform.platform())
import sys; print("Python", sys.version)

Windows-10-10.0.19045-SP0
Python 3.10.5 (tags/v3.10.5:f377153, Jun  6 2022, 16:14:13) [MSC v.1929 64 bit (AMD64)]

In [3]:
import numpy as np
import pandas as pd

from lazypredict.Supervised import LazyClassifier
from sklearn.model_selection import train_test_split

In [4]:
train = pd.read_csv('../data/final/train.csv')
test = pd.read_csv('../data/final/test.csv')

train.sample(5)

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,Group_count,Cabin_deck,Cabin_side
4722,Mars,False,TRAPPIST-1e,24.00,False,1157.00,0.00,0.00,131.00,0.00,True,4,F,S
5139,Europa,True,TRAPPIST-1e,51.00,False,0.00,0.00,0.00,0.00,0.00,True,4,B,P
8593,Earth,False,PSO J318.5-22,33.00,False,0.00,688.00,2.00,0.00,426.00,False,1,F,P
4389,Europa,True,NaN,53.00,False,0.00,0.00,0.00,0.00,0.00,True,3,C,P
8196,Earth,False,TRAPPIST-1e,30.00,False,32.00,180.00,497.00,0.00,99.00,True,1,G,S

In [5]:
TARGET = 'Transported'
FEATURES = [col for col in train.columns if col not in [TARGET]]

numerical = train[FEATURES].select_dtypes(include=np.number).columns
categorical = train[FEATURES].select_dtypes(exclude=np.number).columns

print(f'Target: {TARGET}')
print(f'Fetaures:\n\tnumerical: {numerical.to_list()}\n\tcategorical:{categorical.to_list()}')
print(f'Shapes:\n\ttrain: {train.shape}\n\ttest: {test.shape}')

Target: Transported
Fetaures:
	numerical: ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck', 'Group_count']
	categorical:['HomePlanet', 'CryoSleep', 'Destination', 'VIP', 'Cabin_deck', 'Cabin_side']
Shapes:
	train: (8693, 14)
	test: (4277, 13)

## Models

In [6]:
# data splitting
x, x_val, y, y_val = train_test_split(
    train[FEATURES], train[TARGET],
    train_size=0.8, random_state=42
)

In [7]:
x.shape, x_val.shape, y.shape, y_val.shape

((6954, 13), (1739, 13), (6954,), (1739,))

In [8]:
y = y.astype(str)
y_val = y.astype(str)

In [13]:
# many regressors with default parameters (preprocessing steps are included)
clf = LazyClassifier(
    verbose=0,
    ignore_warnings=True,
    custom_metric=None,
    predictions=False,
    random_state=42,
    classifiers='all'
)

models, _ = clf.fit(x, x_val, y, y_val)

100%|██████████| 29/29 [00:00<00:00, 53.76it/s]

In [14]:
print(models)

Empty DataFrame
Columns: [Accuracy, Balanced Accuracy, ROC AUC, F1 Score, Time Taken]
Index: []